/*========== СТИЛИ ДЛЯ СТАТЕЙ О ПЛАНЕТАХ ==========*/
.text {
  text-align: justify;
  margin-bottom: 8px;
}

.text:last-child {
  margin-bottom: 0;
}

.link {
  color: #c48c67;
  text-decoration: underline;
}

.image__container {
  text-align: center;
}

.orderedlist {
  padding-left: 30px;
  margin-bottom: 15px;
  list-style-type: decimal;
}

.orderedlist__item {
  margin-top: 5px;
}


/*========== БЛОК ФОТОГРАФИИ ПЛАНЕТЫ ==========*/
.sidephoto {
  float: left;
  max-width: 400px;
  height: auto;
}

#structure {
  max-width: 310px;
  width: 100%;
  height: auto;
}

#atmosphere {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/*========== МЕДИА ЗАПРОСЫ ==========*/
@media (max-width: 930px) {
  .sidephoto {
    display: block;

    float: none;
    margin: 0 auto 15px auto;
  }
}
