/*========== ПОДВАЛ САЙТА ==========*/
.footer {
  padding: 10px 0;
  margin-top: 15px;

  font-size: 18px;
  background-color: var(--red);
  box-shadow: 0 0 10px 10px var(--shadow);
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 32px;
  height: auto;
}

.footer__text {
  padding-left: 5px;
}


/*========== МЕДИА-ЗАПРОСЫ ==========*/
@media (max-width: 500px) {
  .footer {
    font-size: 16px;
  }
}
