/*========== БЛОК ФОТОГРАФИИ ПЛАНЕТЫ ==========*/
.planet__photo {
  float: right;

  max-width: 320px;
  width: 100%;

  height: auto;
}


/*========== МЕДИА ЗАПРОСЫ ==========*/
@media (max-width: 930px) {
  .planet__photo {
    display: block;

    float: none;
    margin: 0 auto 15px auto;
  }
}
