/*========== БОКОВАЯ ПАНЕЛЬ ==========*/
.sidebar {
  position: fixed;

  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);

  background-color: rgba(85, 85, 19, 0.75);
}

.sidebar:hover {
  width: 350px;
}

.sidebar:hover .planet__name {
  display: inline-block;
}

.sidebar__planet {
  border-bottom: 2px solid var(--fg);
  transition: background-color 0.2s linear;
}

.sidebar__planet:last-child {
  border-bottom: 0;
}

.sidebar__planet:hover {
  background-color: #66662b;
}

.planet__link {
  display: flex;
  align-items: center;

  padding: 5px;
}

.planet__icon {
  width: 55px;
  height: 55px;
}

.planet__name {
  display: none;
  font-size: 22px;
}


/*========== MEDIA ЗАПРОСЫ ==========*/
@media (max-width: 850px) {
  .sidebar {
    top: 100%;
    left: 0;

    width: 100%;
    transform: translate3d(0, -100%, 0);
  }

  .sidebar:hover {
    width: 100%;
  }

  .sidebar:hover .planet__name {
    display: none;
  }

  .sidebar__planets {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar__planet {
    width: 12.5%;
    border: 0;
  }

  .planet__link {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .planet__icon {
    width: 40px;
    height: 40px;
  }
}
